@mixin carousel-fade() {
    .carousel {
        .carousel-inner {
          max-height: 400px;
            >.item {
                img {
                  width:100%;
                }
                opacity: 0;
                -webkit-transition-property: opacity;
                transition-property: opacity;
                @media all and (transform-3d), (-webkit-transform-3d) {
                    &.next, &.active.right, &.prev, &.active.left, &.next.left, &.prev.right, &.active {
                        -webkit-transform: translate3d( 0,0,0);
                        transform: translate3d( 0,0,0);
                    }
                }
            }
            .active {
                opacity: 1;
            }
            .active.left, .active.right {
                left: 0;
                opacity: 0;
                z-index: 1;
            }
            .next.left, .prev.right {
                opacity: 1;
            }
        }

        .carousel-img {
            width: 100%;
        }

        .carousel-overlay {
            z-index: 1;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background-image: linear-gradient(rgba(0,0,0,.4),rgba(0,0,0,.4));
        }

        .carousel-control {
            z-index: 2;
        }
    }
}
