#event-details-page {
  header {
    .file-upload {
      width: 100%;
      line-height: 200px;
      background: #F8F8F8;
      border: 5px dashed #DDD;
      height: 100% !important;
      @include transition(border 150ms ease-out);

      &:hover {
        border: 5px dashed $baby-blue;
        cursor: pointer;
      }
    }
    margin: 25px auto 15px;
    height: 300px;
    position: relative;
    border-bottom: 1px solid #bbb;

    figure {
      &.event-banner {
        left: 0;
        overflow: hidden;
        position: absolute;
        top: 0;

        img {
          width: 100% !important;
          height: 300px;
        }
      }
    }

    .event-title-under {
      position: absolute;
      left: 0;
      width: 100%;
      height: 60px;
      bottom: 0;
      text-overflow: ellipsis;
      border-top: 1px solid rgba(0,0,0,0.5);
      background: linear-gradient(to bottom, rgba(255,255,255,0.5) 0,rgba(0,0,0,0.51) 3%,rgba(0,0,0,0.75) 61%,rgba(0,0,0,0.5) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=  '#80ffffff', endColorstr='#80000000',GradientType=0 );
      padding-top: 0;
      padding-bottom: 0;
      z-index: 500;

      .event-name {
        color: white;
        text-align: right;
        @include font-size(25px);
        padding: 5px;
        height: 50px;
        line-height: 25px;
        text-transform: capitalize;
      }
    }

    .event-title-within {
      padding-left: 15px;
      padding-right: 15px;
      position: absolute;
      bottom: 0;
      right: 0;
      height: 100% !important;

      .event-name {
        padding-top: 35px;
        @include font-size(35px);
        text-transform: capitalize;
      }

      .event-date {
        position: absolute;
        top: 15px;
        left: 15px;
        text-transform: uppercase;
      }

      .edit-button,
      .join-button,
      .leave-button {
        width: 100%;
        position: absolute;
        bottom: 5px;
        left: 0;
      }
    }
  }
  // end header
  .description-title {
    text-transform: capitalize;
  }

  .event-description {
    img {
      max-width: 100% !important;
      max-height: 200px !important;
    }
    @include font-size(23px);
    word-wrap: break-word;
    font-family: $font-josefin, $sans-serif;
  }

  section.event-info {
    padding-bottom: 40px;

    h4 {
      font-family: $font-hammersmith, $font-josefin, $sans-serif;
      font-weight: 400;
    }

    .event-date {
      font-family: $font-josefin, $sans-serif;
    }

    .event-location {
      font-family: $font-josefin, $sans-serif;
    }
  }

  .event-stats {
    border-top: 1px solid #bbb;
    height: 75px;
    padding: 0;
    margin-top: 15px;

    .dislike,
    .like {
      &:hover {
        cursor: pointer;
      }
    }

    li:nth-child(n + 2) {
      border-left: 1px solid #bbb;
    }

    li {
      padding-right: 0;
      padding-left: 0;
      list-style-type: none;
      text-align: center;
      @include font-size(25px);
      line-height: 25px;
      height: 100% !important;

      p {
        padding: 0;
        margin: 0;
      }
    }
  }
}
