$card-max-height: 350px;
$card-min-height: 350px;
$card-height: 350px;
$card-min-width: 300px;
$card-animation-time: 300ms;

$img-height: 200px;
$card-start-date-height: 25px;
$card-title-height: 50px;
$card-address-height: 20px;
$card-footer-height: 35px;

.event-card-wrapper {
    padding: 10px 10px 5px;

    .card {
        //set consistent height for card
        height: $card-height;
        max-height: $card-max-height;
        min-height: $card-min-height;
        //set min-width for card
        min-width: $card-min-width;
        //set padding of card
        padding: 5px;

        .card-content {
            background-color: inherit;
            border: 0.2px solid rgba(0,0,0,0.2);
            //box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            padding: 0;
            margin: 0;
            height: 100%;
            overflow: hidden;
            //img inside card content
            .img-container {
                //style for img container
                display: block;
                height: $img-height;
                overflow: hidden;

                //on card img hover
                &:hover {
                    img {
                        webkit-filter: blur(3px);
                        filter: blur(5px);
                        opacity: 0.7;
                        filter:alpha(opacity=0.7);
                    }
                    /*
                  .card-img-cover {
                      opacity: 1.0;
                      filter:alpha(opacity=100);
                      position: absolute;
                      top: 5px;
                      left: 5px;
                      right: 5px;
                  }*/
                }

                .joined-badge,
                .owner-badge {
                    z-index: 20;
                    position: absolute;
                    top: 10px;
                    right: 20px;
                    display: inline-block;
                    padding: 2px 10px;
                    line-height: 17px;
                    color: white;
                }

                .joined-badge {
                    opacity: 0.85;
                    background-color: $joined-badge-color;
                }

                .owner-badge {
                    background-color: $owner-badge-color;
                    opacity: 0.85;
                }

                img {
                    z-index: 10;
                    @include transition(opacity $card-animation-time);
                    transition: $card-animation-time -webkit-filter linear;
                    -webkit-transition: $card-animation-time -webkit-filter linear;
                    -moz-transition: $card-animation-time -moz-filter linear;
                    -ms-transition: $card-animation-time -ms-filter linear;
                    -o-transition: $card-animation-time -o-filter linear;

                    height: 200px;

                    //make img always 100% with of card
                    width: 100%;
                }

            }
            //end image container

            .card-info {
                border-bottom: 1px solid #bbb;

                //card start_date
                .card-event-start-date {
                    overflow: hidden;
                    text-overflow: ellipsis;
                    text-transform: uppercase;
                    font-size: 18px;
                    line-height: $card-start-date-height;
                    height: $card-start-date-height;
                    max-height: $card-start-date-height;
                }
                //card title
                .card-event-title {
                    overflow: hidden;
                    width: 100%;
                    height: $card-title-height;
                    max-height: $card-title-height;
                    line-height: #{$card-title-height / 2};
                    font-size: 18px;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    font-weight: 600;
                }
                //card address
                .card-event-address {
                    text-transform: capitalize;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    max-height: $card-address-height;
                    line-height: $card-address-height;
                    height: $card-address-height;
                }
            }
            //end of card info

            .card-footer {
                border-top: 1px solid #bbb;
                height: $card-footer-height;
                max-height: $card-footer-height;
                line-height: $card-footer-height;

                .card-categories {
                    margin: 0;
                    text-overflow: ellipsis;
                    overflow: hidden;

                    a.tag {
                        font-size: 12px;
                        display: inline-block;
                    }
                }

                .card-calendar,
                .card-share {
                    border-left: 0.5px solid #bbb;
                    font-size: 12px;
                    display: inline-block;

                    &:active,
                    &:focus,
                    &:hover,
                    &:link,
                    &:visited {
                        color: inherit;
                    }
                }
            }
            //end of card footer

        }
        //end card-content
    }
}
$card-phone-media-query: "only screen and (max-width : #{$card-min-width * 2})";
@media #{$card-phone-media-query} {
    .event-card-wrapper {
        transform: scaleY(0.9);
        padding: 0 12px;
        width: 100%;
        min-width: 100%;
    }
}
