.footer {
    background-color: $footer-bg-color !important;
    padding: 10px;
    height: 100px !important;
    line-height: 80px;

    .footer-brand-title {
        font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
        @include font-size(20px);
        color: $footer-font-color !important;
        font-weight: 600;
    }
}
