
$create-form-input-animation-time: 400ms;

//create event form starts here
.create-form {
    padding: 30px;
    margin: 40px auto;
    background: #FFF;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.13);
    -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.13);
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.13);

    .event-title {
        color: black;
        font-family: 'Bitter', serif;
        @include font-size(65px);
        font-weight: normal;
        line-height: 60px;
        margin: 10px 0 20px;
        text-transform: uppercase;
        margin: 10px 0 24px;
        text-align: center;
    }

    .inner-wrap {
        height: auto;
        padding: 30px;
        background: #F8F8F8;
        border-radius: 6px;
        margin-bottom: 15px;
        width: 100% !important;
    }

    .dragover {
        border: 5px dashed $baby-blue;
    }

    .file-upload {
        width: 100%;
        max-width: 400px;
        line-height: 200px;
        background: #F8F8F8;
        border: 5px dashed #DDD;
        height: 200px !important;
        @include transition(border 150ms ease-out);

        &:hover {
            border: 5px dashed $baby-blue;
            cursor: pointer;
        }
    }

    h1 {
        background: $eventure-main-color;
        padding: 20px 30px 15px;
        margin: -30px -30px 30px;
        border-radius: 10px 10px 0 0;
        -webkit-border-radius: 10px 10px 0 0;
        -moz-border-radius: 10px 10px 0 0;
        color: #fff;
        text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.12);
        font: normal 30px 'Bitter', serif;
        -moz-box-shadow: inset 0 2px 2px 0 rgba(255, 255, 255, 0.17);
        -webkit-box-shadow: inset 0 2px 2px 0 rgba(255, 255, 255, 0.17);
        box-shadow: inset 0 2px 2px 0 rgba(255, 255, 255, 0.17);
        border: 1px solid darken($eventure-main-color, 10%);

        > span {
            display: block;
            margin-top: 2px;
            font: 13px Arial, Helvetica, sans-serif;
        }
    }

    label:not(.forCheckbox) {
        display: block;
        font: 13px Arial, Helvetica, sans-serif;
        color: #888;
        margin-bottom: 15px;
    }

    input {
        &[type="date"],
        &[type="datetime"],
        &[type="email"],
        &[type="number"],
        &[type="password"],
        &[type="search"],
        &[type="text"],
        &[type="time"],
        &[type="url"] {
            display: block;
            box-sizing: border-box;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            padding: 8px;
            border-radius: 6px;
            -webkit-border-radius: 6px;
            -moz-border-radius: 6px;
            border: 2px solid #fff;
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.33);
            -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.33);
            -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.33);
        }
    }

    .input-group {
        -moz-transition: width $create-form-input-animation-time ease-in-out;
        -webkit-transition: width $create-form-input-animation-time ease-in-out;
        -moz-transition: width $create-form-input-animation-time ease-in-out;
        -o-transition: width $create-form-input-animation-time ease-in-out;
        transition: width $create-form-input-animation-time ease-in-out;
    }

    select,
    textarea {
        display: block;
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        padding: 8px;
        border-radius: 6px;
        -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
        border: 2px solid #fff;
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.33);
        -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.33);
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.33);
    }

    //fade in tinymce
    .mce-container {
        @include animation( 'fadeIn 0.4s ease-in');
    }

    .section {
        font: normal 20px 'Bitter', serif;
        color: $eventure-main-color;
        margin-bottom: 5px;
        text-transform: capitalize;

        span {
            background: $eventure-main-color;
            padding: 5px 10px;
            position: absolute;
            border-radius: 50%;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            border: 4px solid #fff;
            @include font-size(14px);
            margin-left: -45px;
            color: #fff;
            margin-top: -3px;
        }
    }

    input {
        &[type="button"],
        &[type="submit"] {
            background: $eventure-main-color;
            padding: 8px 20px;
            border-radius: 5px;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            color: #fff;
            text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.12);
            font: normal 30px 'Bitter', serif;
            -moz-box-shadow: inset 0 2px 2px 0 rgba(255, 255, 255, 0.17);
            -webkit-box-shadow: inset 0 2px 2px 0 rgba(255, 255, 255, 0.17);
            box-shadow: inset 0 2px 2px 0 rgba(255, 255, 255, 0.17);
            border: 1px solid $eventure-main-color;
            @include font-size(20px);
            height: 25px;
        }

        &[type="button"]:hover,
        &[type="submit"]:hover {
            background: #2A6881;
            -moz-box-shadow: inset 0 2px 2px 0 rgba(255, 255, 255, 0.28);
            -webkit-box-shadow: inset 0 2px 2px 0 rgba(255, 255, 255, 0.28);
            box-shadow: inset 0 2px 2px 0 rgba(255, 255, 255, 0.28);
        }
    }


}
//create event form ends here
#previewmodalwrapper{
  .modal-dialog {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 2%; //set the padding to like 2% 2% and add a x button or some button at the bottom to close the modal
  }
  .modal-content {
    height: auto;
    min-height: 100%;
    border-radius: 0;
  }
}
