$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
$fa-font-path: "/bower_components/font-awesome/fonts/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
@import "font-awesome/scss/font-awesome.scss";
// endbower
@import "./core/core.scss"; //code for all core styles i.e: color variables, box-model globals, any styles that are used across any page

//libraries

//custom styles
@import "categoryevents.scss"; //styles for categoryevents
@import "navbar.scss"; //styles for eventure navbar
@import "modals.scss"; //styles for modals
@import "eventdetails.scss"; //styles for eventdetails page
@import "eventcard.scss"; //styles for card layout on main
@import "forms.scss";
@import "spinners.scss";
@import "footer.scss";
@import "profile.scss";
@import "carousel.scss";
@import "organizerprofile.scss";
@import "notifications.scss";
//$nicegray: #BDBDBD; moved to colors.scss
//$lightergray: #ECECEC; moved to colors.scss

$viewport-height: 100vh;

body {
    padding: 0;
    background: $lightergray;
    background: -moz-linear-gradient (to bottom right, $nicegray, $lightergray);
    background: linear-gradient (to bottom right, $nicegray, $lightergray);

}

.no-gutters {
    padding-right: 0;
    padding-left: 0;
}

//make view minimum height size of screen
#master-view {
    min-height: unquote("calc( #{$viewport-height} - 50px )");
}

//search navbar where search and city location is
#search-navbar {
    padding-top: 10px;
    padding-bottom: 10px;
    min-height: 70px;

    //search bar
    input {
        height: 50px;
    }
    //date filters
    select {
        height: 50px;
    }
}
@include carousel-fade();

p.error {
    color: red;
}

//overlay is a div that spans 100% height and width of its parent with a high z index
.overlay-wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 5px;
    z-index: 101;
    display: table;

    .overlay {
        height: 100%;

        color: white;
        @include font-size(50px);
        text-align: center;
        display: table-cell;
        background-color: rgba(0,0,0,0.3);
        width: 100%;
        height: 100%;
        z-index: 100;
        vertical-align: middle;

        > * {
            font-weight: 700px;

        }
    }
}

.close {
    position: absolute;
    right: 10px;
    top: 5px;
}
