#loginmodal-wrapper,
#signupmodal-wrapper {
    .modal-dialog {
        margin: 2% 0 0 calc(50% - 175px);
        width: 350px;
        height: auto;
        padding: 0; //set the padding to like 2% 2% and add a x button or some button at the bottom to close the modal
    }

    .modal-content {
        position: absolute;
        padding-right: calc(50% - 350px);
        padding-left: calc(50% - 350px);
        max-width: 350px;
        width: 100%;
        min-width: 320px;

        height: auto;
        min-height: auto;
        border-radius: 0;
    }

    .loginmodal-container,
    .signupmodal-container {
        padding: 30px;
        max-width: 350px;
        width: 100% !important;
        background-color: #F7F7F7;
        margin: 0 auto;
        border-radius: 2px;
        box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
        overflow: hidden;
        font-family: roboto;
    }

    p.err {
        text-align: center;
        color: red;
        font-size: 12px;
        transition: 250ms ease-in;
    }

    p.err.ng-hide {
        opacity: 0;
    }

    p.err.ng-show {
        opacity: 1;
    }

    .loginmodal-container h1,
    .signupmodal-container h1 {
        text-align: center;
        font-size: 1.8em;
        font-family: roboto;
    }

    .loginmodal-container,
    .signupmodal-container {
        button {
            width: 100%;
            display: block;
            margin-bottom: 10px;
            position: relative;
        }
    }

    .loginmodal-container,
    .signupmodal-container {
        input[type=password],
        input[type=text] {
            height: 44px;
            font-size: 16px;
            width: 100%;
            margin-bottom: 10px;
            -webkit-appearance: none;
            background: #fff;
            border: 1px solid #d9d9d9;
            border-top: 1px solid #c0c0c0;
            /* border-radius: 2px; */
            padding: 0 8px;
            box-sizing: border-box;
            -moz-box-sizing: border-box;
        }
    }

    .loginmodal-container input[type=text]:hover,
    input[type=password]:hover {
        border: 1px solid #b9b9b9;
        border-top: 1px solid #a0a0a0;
        -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
        -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
        box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
    }

    .loginmodal,
    .signupmodal {
        text-align: center;
        font-size: 14px;
        font-family: 'Arial', sans-serif;
        font-weight: 700;
        height: 36px;
        padding: 0 8px;
        /* border-radius: 3px; */
        /* -webkit-user-select: none;
  user-select: none; */
    }

    .loginmodal-submit,
    .signupmodal-submit {
        /* border: 1px solid #3079ed; */
        border: 0;
        color: #fff;
        text-shadow: 0 1px rgba(0,0,0,0.1);
        background-color: #4d90fe;
        padding: 17px 0;
        font-family: roboto;
        font-size: 14px;
        /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#4787ed)); */
    }

    .loginmodal-submit,
    .signupmodal-submit {
        &:hover {
            /* border: 1px solid #2f5bb7; */
            border: 0;
            text-shadow: 0 1px rgba(0,0,0,0.3);
            background-color: #357ae8;
            /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#357ae8)); */
        }
    }

    .loginmodal-container,
    .signupmodal-container {
        login-help a {
            text-decoration: none;
            color: #666;
            font-weight: 400;
            text-align: center;
            display: inline-block;
            opacity: 0.6;
            transition: opacity ease 0.5s;
        }
    }

    .login-help.signup-help {
        font-size: 12px;
    }

    .social-media-logins {

        height: 30px;
        padding: 0;

        a {
            border-radius: 0;
            padding: 0;
            margin: 0;
            height: 100%;
            line-height: 25px;
            @include font-size(25px);
            color: white;
        }
    }
}
