.navbar {
    border: none;
    border-radius: 0;

    .navbar-header {}

    .navbar-collapse {}

    .navbar-link {
        a {
            color: white !important;

            &:hover {
                color: gold !important;
            }
        }
        border-left: 1px solid #bbb;
        text-transform: uppercase;
        @include font-size(19px);
        @include transition(all 100ms linear);

    }

    .dropdown-menu {
        li {
            a {
                color: black !important;
                text-transform: uppercase;
            }
        }
    }

    .navbar-link.dropdown.open {
        .fa.fa-angle-down {
            visibility: hidden;
        }

        > a {
            background-color: $eventure-main-color;
        }
    }

    .brand-title {
        font: normal 30px $font-bitter, $sans-serif;
        @include font-size(30px);
        color: white !important; //

    }

    .notification-box-style {
        height: 50px;
        display: block;
        padding-top: 15px;
        padding-bottom: 15px;
    }
}
