.notifications {
    min-width: 420px;
}

.menu-title {
    text-transform: capitalize;
    font-weight: 400;
    color: #ff7788;
    @include font-size(20px);

    display: inline-block;
}

.glyphicon-circle-arrow-right {
    margin-left: 10px;
}

.notification-footer,
.notification-heading {
    padding: 2px 10px;
}

.dropdown-menu.divider {
    margin: 5px 0;
}

.item-title {
    @include font-size(30px);
    color: #000;
}

.notifications a.content {
    text-decoration: none;
    background: #ccc;
}

.notification-icon-wrapper {
    width: 100px;
    max-width: 100px;
    min-width: 100px;
    @include font-size(100px);
    line-height: 70px;
}

.notification-details {
    width: calc(100% - 100px);

}

.notification-item {
    min-height: 130px;
    height: 130px;
    max-height: 130px;
    padding: 10px;
    background: #ccc;
    border-radius: 4px;
}
