$profile-header-height: 158px;

#category-page,
#profile-page {
  
  .btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
  }

  .profile-main-area {
    border-radius: 7px;
    border: 2px solid #ededed;
    background-color: #fff;
    margin-top: 60px;
  }

  header {
    padding: 0;
    border-bottom: 2px solid #cec5ba;
    height: $profile-header-height !important;
    margin-bottom: 138px;

    img {
      position: absolute;
      bottom: -128px;
      left: unquote("calc( 50% - 128px )");
    }
  }

  .file-upload {
    margin-bottom: 13px;

    &:hover {
      cursor: pointer;
      background: #F8F8F8;
    }
  }

  .list-group-item {
    padding: 0 !important;
    margin-bottom: 10px !important;

    .profile-list-wrapper {
      height: 150px !important;

      .profile-list-boxes {
        float: left;
        min-width: 150px;
        max-width: 150px;
        height: 100% !important;
        padding: 0;
        margin: 0;

        &.profile-date {
          display: inline-block;
          color: rgb(255, 255, 255);
          padding: 5px;
          text-align: center;
          text-transform: uppercase;
        }

        .profile-date-day {
          display: block;
          @include font-size(75px);
          font-weight: 100;
        }

        .profile-date-month {
          display: block;
          @include font-size(32px);
          font-weight: 900;
          margin-top: 27px;
        }

        &.img-wrapper {
          min-width: 150px;
          max-width: 150px;
        }

        img {
          min-height: 100%;
          max-height: 100%;
          min-width: 100%;
          max-width: 100%;
        }
      }

      .event-details {
        font-family: $font-lato, $sans-serif;
        padding: 10px;
        float: left;
        width: calc(100% - 300px);
        height: 150px;

        .event-name {
          text-overflow: ellipsis;
          height: 70px;
          overflow: hidden;
          line-height: 23.33px;
          @include font-size(23.33px);
          font-weight: 700 !important;
          margin: 0;
        }

        .event-address {
          text-overflow: ellipsis;
          height: 34px;
          overflow: hidden;
          max-height: 34px;
          line-height: 17px;
          margin: 0;
        }

        .event-categories {
          text-align: right;
          padding-right: 5px;
          position: absolute;
          bottom: 0;
          left: 300px;
          width: calc(100% - 300px);
          border-top: 1px solid #bbb;
          line-height: 35px;
          height: 36px;
          margin: 0;
        }
      }
    }
  }
}
@media (max-width: 500px) {
  .profile-date {
    display: none !important;
  }

  .img-wrapper {
    min-width: 100% !important;
  }

  .event-details {
    font-family: $font-lato, $sans-serif;
    max-height: 60px;
    height: 60px;
    color: white;
    padding: 0 !important;
    width: 100% !important;
    position: absolute;
    bottom: 0;
    left: 0;
    border-top: 1px solid rgba(0,0,0,0.5);
    background: linear-gradient(to bottom, rgba(255,255,255,0.5) 0,rgba(0,0,0,0.51) 3%,rgba(0,0,0,0.75) 61%,rgba(0,0,0,0.5) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=  '#80ffffff', endColorstr='#80000000',GradientType=0 );

    .event-name {
      margin: 0;
      @include font-size(20px);
      padding: 0 !important;
      height: 40px !important;
      line-height: 20px !important;
      text-transform: capitalize;
      display: table-cell;
      vertical-align: bottom;
      padding-left: 5px !important;
    }

    .event-address {
      @include font-size(15px);
      line-height: 20px !important;
      margin: 0;
      padding: 0;
      height: 20px !important;
      padding-left: 5px !important;
    }

    .event-categories {
      display: none !important;
    }
  }
}
