.spinner {
    position: fixed;
    z-index: 999;
    height: 2em;
    width: 2em;
    overflow: show;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    &:before {
        content: '';
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        background-color: rgba(0,0,0,0.3);
    }

    &:not(:required) {
        font: 0/0 a;
        color: transparent;
        text-shadow: none;
        background-color: white;
        border: 0;

        &:after {
            content: '';
            display: block;
            width: 80px;
            height: 80px;
            border: 2px solid #f3f3f3;
            border-top: 3px solid $eventure-main-color;
            border-radius: 100%;
            margin-top: -0.5em;
            @include animation( 'spin 1500ms infinite linear');
            //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
            //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
            box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) -1.5em 0 0 0, rgba(0, 0, 0, 0.75) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
        }
    }
}
