<div class="row">
    <div class="row events">
        <div class="gridItemEnter">
            <div class="col-lg-12">
                <div class="col-lg-4 col-md-6 p-r-xs p-l-xs event-card-wrapper" ng-animate="'animate'" ng-repeat="event in events| filter:{name:query, address:querylocation} | startFrom:(currentPage - 1) * pageSize | limitTo: pageSize">
                    <div class="card">
                        <div class="card-content">
                            <a href="eventDetails/{{ event.id }}" class="img-container">
                                <strong class="owner-badge" ng-show="currentUser.id == event.user_id">Owner</strong>
                                <strong class="joined-badge" ng-show="event.joined">Joined</strong>
                                <img ng-src="{{ event.picture_url }}" alt="Photo of {{ event.name.trim() }}">
                            </a>
                            <div class="card-info container-fluid p-t-sm">
                                <div class="card-event-start-date text-muted">{{ event.start_date | date:'medium'}}</div>
                                <div class="card-event-title">{{event.name}}</div>
                                <div class="card-event-address">{{event.address}}</div>
                            </div>
                            <div class="card-footer container-fluid p-r-none">
                                <div class="card-categories col-xs-8 no-gutters">
                                    <a href="search/events/category/{{category.name}}" ng-repeat="category in event.categories | limitTo:3" class="tag m-r-xs">
                                        <kbd>#{{ category.name}}</kbd>
                                    </a>
                                </div>
                                <a class="card-share col-xs-2 no-gutters text-center text-muted" href="javascript:void(0);">
                                    <i class="fa fa-share fa-lg"></i>
                                </a>
                                <a class="card-calendar col-xs-2 text-muted no-gutters text-center text-muted" href="javascript:void(0);">
                                    <i class="fa fa-calendar fa-lg"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="col-md-3 hidden-xs hidden-sm"></div>
        <ul uib-pagination total-items="events.length" ng-model="currentPage" items-per-page="pageSize" class="col-xs-12 col-md-6"></ul>
        <div class="col-md-3 hidden-xs hidden-sm"></div>
    </div>
</div>
