<footer class="footer col-xs-12">
    <p class="p-none footer-brand-title text-center m-b-none">
      <strong class="p-r-xs p-l-xs">&copy;</strong>
      <span>Eventure 2016</span>
    </p>
</footer>
