<div class="loginmodal-container">
    <div class="modal-header">
        <h1>Login to Your Account</h1>
    </div>
    <div class="modal-body">
        <p class="err" ng-show="LoginError">{{ LoginError }}</p>
        <input type="text" name="email" placeholder="Email" ng-model="user.email">
        <input type="password" name="pass" placeholder="Password" ng-model="user.password" enter-pressed="login()">
        <button class="login loginmodal-submit" ng-click="login();">Login</button>
        <div class="login-help">
            <a href="javascript:void(0);" ng-click="toSignUp()">Not a user? Sign up</a>
            <!-- <a href="#">Forgot Password</a> -->
        </div>
        <h3 class="text-center">or login using...</h4>
    </div>
    <div class="modal-footer">
        <div class="social-media-logins">
            <a href="http://localhost:9000/auth/facebook" class="btn btn-primary col-xs-6">
                <span class="fa fa-facebook"></span>
                Facebook</a>
            <a href="#" class="btn btn-danger col-xs-6">
                <i class="fa fa-google-plus"></i>
                Google</a>
        </div>
    </div>
    <script>
        $(document).ready(function() {

            //if an error happaned and the page and the page has login modal in url open modal on page load
            if (window.location.href.indexOf('#login-modal') != -1) {
                $('#login-modal').modal('show');
            }
        });
    </script>
</div>
