<div class="navbar navbar-default bg-main" role="navigation" style="margin-bottom:0px;" ng-controller="NavbarController">
  <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#js-navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand pull-left brand-title" href="/">
        <i class="fa fa-home"></i>
        <span class="p-l-xs">Eventure</span>
      </a>
  </div>

  <div class="collapse navbar-collapse" id="js-navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li class="navbar-link">
            <a ng-href="createEvent" ng-show="currentUser">
              <i class="fa fa-plus-circle fa-lg p-l-xs p-r-xs"></i>
              <span>Create Event</span>
            </a>
        </li>

        <!--start of notifcations -->
        <li class="navbar-link">
          <a href ng-show="currentUser" ng-click="opennotifications()">
            <i class="fa fa-bell-o fa-lg"></i>
            <span class="badge" ng-show="notificationCounter > 0" style="background-color:red;color:white">{{notificationCounter}}</span>
            <span class="p-l-xs p-r-xs">Notifications</span>
          </a>
        </li>
        <!-- end of notifications -->

        <!--start of calendar -->
        <li class="navbar-link">
          <a href ng-show="currentUser" ng-click="opencalendar()">
            <i class="fa fa-calendar-o fa-lg"></i>
            <span class="p-l-xs p-r-xs">Calendar</span>
          </a>
        </li>
        <!-- end of calendar -->

        <li class="navbar-link dropdown">
            <a ng-href="javascript:void(0);" ng-show="currentUser" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
              <i class="fa fa-user fa-lg"></i><span class="p-l-xs p-r-xs">
              <span>{{currentUser.displayName | uppercase}}</span>
              <i class="fa fa-angle-down fa-lg p-l-xs"></i>
            </a>
            <ul class="dropdown-menu col-xs-12">
              <li class="navbar-link p-xs">
                <a href="profile">
                  <i class="fa fa-user"></i>
                  <span>PROFILE</span>
                </a>
              </li>
              <li class="divider"></li>
              <li class="navbar-link p-xs">
                  <a href="javascript:void(0);" ng-show="currentUser" ng-click="logout()">
                    <i class="fa fa-sign-out"></i>
                    <span>Logout</span>
                  </a>
              </li>
            </ul>
        </li>
        <li class="navbar-link">
            <a href="javascript:void(0);" data-toggle="modal" ng-click="openlogin()" ng-hide="currentUser">Login</a>
        </li>
        <li class="navbar-link">
            <a href="javascript:void(0);" data-toggle="modal" ng-click="opensignup()" ng-hide="currentUser">Sign Up</a>
        </li>
      </ul>
  </div>
</div>
