<div class="notifications-container" style="text-align:center">
    <div class="modal-header">
        <h1>All Notifications</h1>
    </div>
    <div class="modal-body">
      <ul class="list-unstyled">
        <li class="divider"></li>
        <li ng-repeat="notification in notifications">
          <p>{{notification}}</p>
        </li>
      </ul>
    </div>
    <div class="modal-footer">
      <button class="btn btn-primary" ng-click="$dismiss()">Ok</button>
    </div>
</div>
