<div>
  <div class="content fade-in p-xs p-r-none" href="#" ng-repeat="n in notifications track by $index" ng-show="notifications.length > 0">
     <div class="notification-item no-gutters">
       <div class="col-sm-3 col-xs-4 text-center p-t-sm p-b-sm notification-icon-wrapper no-gutters">
         <i ng-if="n.type == 'event_liked'" class="fa fa-thumbs-o-up text-success" aria-hidden="true"></i>
         <i ng-if="n.type == 'event_edited'" class="fa fa-pencil-square-o text-primary" aria-hidden="true" ></i>
         <i ng-if="n.type == 'event_joined'" class="fa fa-user-plus" aria-hidden="true text-warning" ></i>
       </div>
       <div class="col-sm-9 col-xs-8 no-gutters notification-details p-r-sm">
         <i class="fa fa-close text-danger fa-lg clickable close text-danger" ng-click="markread(n.id)"></i>
         <p class="item-info" ng-bind-html="n.message"></p>
         <p class="timestamp">{{n.updated_at | date: 'EEE, MMM d yyyy, h:mm a':'UTC'}}</p>
      </div>
    </div>
  </div>

  <h3 ng-show="notifications.length == 0" class="text-center"> All caught up ! <i class="fa fa-smile-o"></i></h3>
</div>
