<div class="signupmodal-container">
    <div class="modal-header">
        <h1>Sign Up</h1>
    </div>
    <div class="modal-body">
        <p class="err" ng-show="SignupError">{{ SignupError }}</p>
        <input type="text" name="email" placeholder="Email" ng-model="newUser.email">
        <input type="password" name="pass" placeholder="Password" ng-model="newUser.password">
        <p class="err" ng-show="UsernameError">{{ UsernameError }}</p>
        <input type="text" name="user" placeholder="What should we call you?" ng-model="newUser.username" ng-keyup="checkUsername()"  enter-pressed="signup()">
        <button class="signup signupmodal-submit" ng-click="signup();">Signup</button>
        <div class="signup-help">
            <a href="javascript:void(0);" ng-click="toLogin()">Back to Login</a>
        </div>
        <h3 class="text-center">or sign up using...</h4>
    </div>
    <div class="modal-footer">
        <div class="social-media-logins">
            <a href="http://localhost:9000/auth/facebook" class="btn btn-primary col-xs-6">
                <span class="fa fa-facebook"></span>
                Facebook</a>
            <a href="#" class="btn btn-danger col-xs-6">
                <i class="fa fa-google-plus"></i>
                Google</a>
        </div>
    </div>
</div>
