@import "keyframes.scss";

//slide in left
.slide-in-left-animation {
    @include animation( 'slideInLeft 1s both ease-in');
}

//slide in right
.slide-in-right-animation {
    @include animation( 'slideInRight 1s both ease-in');
}

.fade-in {
    @include animation( 'fadeIn 500ms both ease-in');
}

.fade-in-out-quick {
    @include animation( 'fadeIn 200ms ease-in, 0s ease-out');
}

.pop-in {
    @include animation( ' popIn 500ms both ease-in');
}

.fade-in-from-bot {
    @include animation( ' fadeInFromBot 1s ease-in');
}
