$size-xs: 5px; //size for extra small dimensions
$size-sm: 10px; //size for small dimensions
$size-md: 20px; //size for medium dimensions
$size-lg: 30px; //size for large dimensions
$size-xl: 50px;
@mixin vertical-align($align) {
    &:before {
        content: "";
        display: inline-block;
        width: 100%;
        height: 100%;
        vertical-align: $align;
    }

    & > * {
        vertical-align: $align;
    }
}

//////////////////////////
//  POSITIONING
//////////////////////////
.a-top-left {
    position: absolute;
    top: 0 !important;
    left: 0 !important;
}

.v-align-c {
    vertical-align: center;
}

//////////////////////////
//  OVERFLOWS
//////////////////////////
.ofy-sc {
    overflow-y: scroll;
}
//////////////////////////
//  HEIGHT
//////////////////////////
.fill-h {
    height: 100%;
}

//////////////////////////
//  MARGINS
//////////////////////////

/** No margins **/
.m-none {
    margin: 0 !important;
}

.m-t-none {
    margin-top: 0 !important;
}

.m-r-none {
    margin-right: 0 !important;
}

.m-b-none {
    margin-bottom: 0 !important;
}

.m-l-none {
    margin-left: 0 !important;
}

/** Extra Small margins **/
.m-xs {
    margin: $size-xs;
}

.m-t-xs {
    margin-top: $size-xs;
}

.m-r-xs {
    margin-right: $size-xs;
}

.m-b-xs {
    margin-bottom: $size-xs;
}

.m-l-xs {
    margin-left: $size-xs;
}

/** Small Margins **/
.m-sm {
    margin: $size-sm;
}

.m-t-sm {
    margin-top: $size-sm;
}

.m-r-sm {
    margin-right: $size-sm;
}

.m-b-sm {
    margin-bottom: $size-sm;
}

.m-l-sm {
    margin-left: $size-sm;
}

/** Medium Margins **/
.m-md {
    margin: $size-md;
}

.m-t-md {
    margin-top: $size-md;
}

.m-r-md {
    margin-right: $size-md;
}

.m-b-md {
    margin-bottom: $size-md;
}

.m-l-md {
    margin-left: $size-md;
}

/** Large Margins **/
.m-lg {
    margin: $size-lg;
}

.m-t-lg {
    margin-top: $size-lg;
}

.m-r-lg {
    margin-right: $size-lg;
}

.m-b-lg {
    margin-bottom: $size-lg;
}

.m-l-lg {
    margin-left: $size-lg;
}

/** Extra Large margins **/
.m-xl {
    margin: $size-xl;
}

.m-t-xl {
    margin-top: $size-xl;
}

.m-r-xl {
    margin-right: $size-xl;
}

.m-b-xl {
    margin-bottom: $size-xl;
}

.m-l-xl {
    margin-left: $size-xl;
}

//////////////////////////
//  PADDING
//////////////////////////

/** No padding **/
.p-none {
    padding: 0 !important;
}

.p-t-none {
    padding-top: 0 !important;
}

.p-r-none {
    padding-right: 0 !important;
}

.p-b-none {
    padding-bottom: 0 !important;
}

.p-l-none {
    padding-left: 0 !important;
}

.p-xs {
    padding: $size-xs;
}

.p-sm {
    padding: $size-sm;
}

.p-md {
    padding: $size-md;
}

.p-lg {
    padding: $size-lg;
}

.p-t-xs {
    padding-top: $size-xs;
}

.p-r-xs {
    padding-right: $size-xs;
}

.p-b-xs {
    padding-bottom: $size-xs;
}

.p-l-xs {
    padding-left: $size-xs;
}

/** Small Margins **/
.p-t-sm {
    padding-top: $size-sm;
}

.p-r-sm {
    padding-right: $size-sm;
}

.p-b-sm {
    padding-bottom: $size-sm;
}

.p-l-sm {
    padding-left: $size-sm;
}

/** Medium Margins **/
.p-t-md {
    padding-top: $size-md;
}

.p-r-md {
    padding-right: $size-md;
}

.p-b-md {
    padding-bottom: $size-md;
}

.p-l-md {
    padding-left: $size-md;
}

/** Large Margins **/

.p-t-lg {
    padding-top: $size-lg;
}

.p-r-lg {
    padding-right: $size-lg;
}

.p-b-lg {
    padding-bottom: $size-lg;
}

.p-l-lg {
    padding-left: $size-lg;
}

/** Extra Large Margins **/

.p-t-xl {
    padding-top: $size-xl;
}

.p-r-xl {
    padding-right: $size-xl;
}

.p-b-xl {
    padding-bottom: $size-xl;
}

.p-l-xl {
    padding-left: $size-xl;
}
