///////////////////////////////
//  COLOR VARIABLES
///////////////////////////////
$nicegray: #BDBDBD;
$lightergray: #ECECEC;
$soft-burgundy: #910720;
$soft-black: #232b2b;
$lime-green: #32cd32;
$baby-blue: #1E90FF;
$soft-turquoise: #079178;
$off-white: #ddd;
$darkish-grey: #333;

///////////////////////////////
//  EVENTURE COLOR VARIABLES
///////////////////////////////
$eventure-main-color: $soft-burgundy;
$eventure-complimentary-color: $soft-turquoise;
$joined-badge-color: $lime-green;
$owner-badge-color: $baby-blue;
$footer-bg-color: $darkish-grey;
$footer-font-color: $off-white;
//////////////////////////
//  COLOR STYLES
//////////////////////////
.bg-main {
    background-color: $eventure-main-color !important;

}

.bg-white {
    background-color: white !important;
}

.bg-bblue {
    background-color: $baby-blue !important;
}

.c-bblue {
    color: $baby-blue !important;
}

.bg-sblack {
    background-color: $soft-black !important;
}

.bg-lgreen {
    background-color: $lime-green !important;
}

.bg-soft-black {
    background-color: $soft-black !important;
}

.bg-inherit {
    background-color: inherit !important;
}
