@import url( 'https://fonts.googleapis.com/css?family=Dosis|Hammersmith+One|Josefin+Sans|Raleway:300&subset=latin-ext');
@import url("http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,400italic");
@import url( 'https://fonts.googleapis.com/css?family=Bitter');
$sans-serif: sans-serif;
$font-bitter: 'Bitter';
$font-lato: 'Lato';
$font-dosis: 'Dosis';
$font-raleway: 'Raleway';
$font-hammersmith: 'Hammersmith One';
$font-josefin: 'Josefin Sans';
@function calculateRem($size) {
    $remSize: $size / 16px;
    @return $remSize * 1rem !important;
}
@mixin font-size($size) {
    font-size: $size;
    font-size: calculateRem($size);
}

.bold {
    font-weight: 300;
}

.extra-bold {
    font-weight: 700;
}

.smooth-font {
    font-family: 'Dosis', sans-serif;
}

.description-font {
    font-family: 'Raleway', sans-serif;
}

.capitalize {
    text-transform: capitalize;
}

.uppercase {
    text-transform: uppercase;
}

.no-style {
    text-decoration: none !important;
}

.no-style:hover {
    text-decoration: none !important;
    cursor: pointer;
}

.clickable:hover {
    cursor: pointer;
}
