
//keyframes and transitions mixin to work across all browsers
@mixin keyframes($animation-name) {
	 @-webkit-keyframes #{$animation-name}{
		@content;
	}
	@-moz-keyframes #{$animation-name} {
		 @content;
	}
	@-ms-keyframes #{$animation-name} {
		 @content;
	}
	@-o-keyframes #{$animation-name} {
		 @content;
	}
	@keyframes #{$animation-name} {
		 @content;
	}
}
@mixin animation($str) {
	-webkit-animation: #{$str};
	-moz-animation: #{$str};
	-ms-animation: #{$str};
	-o-animation: #{$str};
	animation: #{$str};
}
@mixin transition($args) {
	-webkit-transition: $args;
	-moz-transition: $args;
	-ms-transition: $args;
	-o-transition: $args;
	transition: $args;
}

//key frames for grid items
@include keyframes(popIn) {
	0% {
		opacity: 0;
		transform: scale(0);
	}

	100% {
		opacity: 1;
		transform: scale(1);
	}
}
@include keyframes(fadeIn) {
	0% {
		opacity: 0;
	}

	50% {
		opacity: 0.5;
	}

	100% {
		opacity: 1;
	}
}
@include keyframes(fadeInFromBot) {
	0% {
		transform: translateY(80%);
		opacity: 0;
	}

	50% {
		transform: translateY(40%);
		opacity: 0.5;
	}

	100% {
		transform: translateY(0%);
		opacity: 1;
	}
}
@include keyframes(fadeOut) {
	0% {
		opacity: 1;
	}

	50% {
		opacity: 0.5;
	}

	100% {
		opacity: 0;
	}
}

//keyframes for slide anim
@include keyframes(slideInRight) {
	0% {
		opacity: 0.3;
		transform: translateX(100%);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}
@include keyframes(slideOutLeft) {
	100% {
		opacity: 1;
		transform: translateX(-100%);
	}
}

/*
.slideInLeftAnim.ng-enter, .slideInLeftAnim.ng-leave,
.slideInRightAnim.ng-enter-active    {
  -webkit-animation:slideOutLeft 0.8s both ease-in;
	-moz-animation:slideOutLeft 0.8s both ease-in;
	animation:slideOutLeft 0.8s both ease-in;
}
.slideInRightAnim.ng-enter,	.slideInRightAnim.ng-leave,
.slideInRightAnim.ng-enter-active {
  -webkit-animation:slideInRight 0.8s both ease-in;
	-moz-animation:slideInRight 0.8s both ease-in;
	animation:slideInRight 0.8s both ease-in;
}
*/

//frames for spinner
@include keyframes(spin) {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}
