<!doctype html>
<html lang="en-US" ng-app="Eventure">
<head>
  <meta charset="utf-8">
  <title>{{ page_title || 'Eventure' }}</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">
  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
  <!-- build:css(.) styles/vendor.css -->
  <!-- bower:css -->
  <link rel="stylesheet" href="/bower_components/angular-google-places-autocomplete/src/autocomplete.css" />
  <link rel="stylesheet" href="/bower_components/angular-google-places-autocomplete/dist/autocomplete.min.css" />
  <link rel="stylesheet" href="/bower_components/fullcalendar/dist/fullcalendar.css" />
  <link rel="stylesheet" href="/bower_components/angular-notification-icons/dist/angular-notification-icons.css" />
  <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css" />
  <link rel="stylesheet" href="/bower_components/bootstrap-daterangepicker/daterangepicker.css" />
  <link rel="stylesheet" href="/bower_components/angular-bootstrap-calendar/dist/css/angular-bootstrap-calendar.css" />
  <link rel="stylesheet" href="/bower_components/angular-ui-notification/dist/angular-ui-notification.css" />
  <!-- endbower -->
  <!-- endbuild -->
  <!-- build:css(.tmp) styles/main.css -->
  <link rel="stylesheet" href="/styles/main.css">
  <!-- endbuild -->

  <!-- Google Maps with API Key -->
  <script  src="http://maps.google.com/maps/api/js?key=AIzaSyB4Me9BiZnWPCEBPyGbiyrJmwp6SoSYrP0&libraries=places"></script>
  <link rel="stylesheet" href="/bower_components/angular-google-places-autocomplete/src/autocomplete.css">

  <base href="/">
</head>
<body  ng-cloak>
  <!--[if lte IE 8]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

  <!-- Add your site or application content here -->

  <!-- directive for the navbar -->
  <eventure-navbar></eventure-navbar>


  <div id="notificationwrapper">
    <script type="text/ng-template" id="notifcations-modal.html">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" ng-click="closemodal()">&times;</button>
        <h4 class="modal-title">Notifications</h4>
      </div>
      <div class="modal-body" style="max-height:500px; overflow-y: scroll">
        <!-- this is where the template goes -->
        <div ng-include="'views/partials/notifications-template.html'"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" ng-model="autoUpdate" uib-btn-checkbox btn-checkbox-true="'OFF'" btn-checkbox-false="'ON'">
            Automatic Updates: {{autoUpdate}}
        </button>
        <button type="button" class="btn btn-default" ng-click="viewall()">View All</button>
      </div>
    </script>
  </div>


  <div id="calendarwrapper">
    <script type="text/ng-template" id="calendar-modal.html">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" ng-click="closemodal()">&times;</button>
        <h2 class="modal-title text-center">My Calendar</h2>
      </div>

      <div class="modal-body">
        <div class="no-gutters col-xs-12 m-b-lg">
          <div class="col-xs-12 col-sm-6">
            <button
              class="btn btn-primary col-sm-4"
              mwl-date-modifier
              date="viewDate"
              decrement="calendarView">
              Previous
            </button>

            <button
              class="btn btn-default col-sm-4"
              mwl-date-modifier
              date="viewDate"
              set-to-today>
              Today
            </button>

            <button
              class="btn btn-primary col-sm-4"
              mwl-date-modifier
              date="viewDate"
              increment="calendarView">
              Next
            </button>
          </div>
          <div class="col-xs-12 col-sm-6 text-right">
            <button ng-click="calendarView = 'day'" class="btn btn-primary col-xs-3">Day</button>
            <button ng-click="calendarView = 'week'" class="btn btn-primary col-xs-3">Week</button>
            <button ng-click="calendarView = 'month'" class="btn btn-primary col-xs-3">Month</button>
            <button ng-click="calendarView = 'year'" class="btn btn-primary col-xs-3">Year</button>
          </div>
        </div>
        <div class="col-xs-12">
          <mwl-calendar
            view="calendarView"
            view-date="viewDate"
            events="events"
            view-title="calendarTitle"
            on-event-click="eventClicked(calendarEvent)"
            cell-is-open="true">
          </mwl-calendar>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="closemodal()">Close</button>
      </div>
    </script>
  </div>





  <!-- view -->
  <div ng-view id="master-view"></div>
  <!-- directive for Login Modal -->
  <div id="loginmodal-wrapper"></div>

  <!-- directive for Sign Up Modal -->
  <div id="signupmodal-wrapper"></div>

  <!-- directive for Notification Modal -->
  <div id="notificationsmodal-wrapper"></div>

  <!-- directive for the footer -->
  <eventure-footer></eventure-footer>


    <!-- Socket.io Client -->
    <script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/lodash/lodash.js"></script>
    <script src="bower_components/restangular/dist/restangular.js"></script>
    <script src="bower_components/ngmap/build/scripts/ng-map.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="bower_components/jquery-ui/jquery-ui.js"></script>
    <script src="bower_components/angular-google-places-autocomplete/src/autocomplete.js"></script>
    <script src="bower_components/angular-google-places-autocomplete/dist/autocomplete.min.js"></script>
    <script src="bower_components/tinymce/tinymce.js"></script>
    <script src="bower_components/angular-ui-tinymce/src/tinymce.js"></script>
    <script src="bower_components/ng-file-upload/ng-file-upload.js"></script>
    <script src="bower_components/checklist-model/checklist-model.js"></script>
    <script src="bower_components/moment/moment.js"></script>
    <script src="bower_components/fullcalendar/dist/fullcalendar.js"></script>
    <script src="bower_components/angular-ui-calendar/src/calendar.js"></script>
    <script src="bower_components/angular-notification-icons/dist/angular-notification-icons.js"></script>
    <script src="bower_components/bootstrap-daterangepicker/daterangepicker.js"></script>
    <script src="bower_components/angular-daterangepicker/js/angular-daterangepicker.js"></script>
    <script src="bower_components/angular-bootstrap-calendar/dist/js/angular-bootstrap-calendar-tpls.js"></script>
    <script src="bower_components/angular-ui-notification/dist/angular-ui-notification.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js({.tmp,app}) scripts/scripts.js -->
    <script src="scripts/app.js"></script>
    <script src="scripts/controllers/main.js"></script>
    <script src="scripts/controllers/login.js"></script>
    <script src="scripts/services/authentication.js"></script>
    <script src="scripts/controllers/signup.js"></script>
    <script src="scripts/services/socket.js"></script>
    <script src="scripts/controllers/eventdetails.js"></script>
    <script src="scripts/controllers/test.js"></script>
    <script src="scripts/controllers/createevent.js"></script>
    <script src="scripts/services/geolocation.js"></script>
    <script src="scripts/controllers/likeevent.js"></script>
    <script src="scripts/directives/multieventlist.js"></script>
    <script src="scripts/directives/singleeventlist.js"></script>
    <script src="scripts/directives/signupmodal.js"></script>
    <script src="scripts/directives/loginmodal.js"></script>
    <script src="scripts/directives/eventurenavbar.js"></script>
    <script src="scripts/controllers/profile.js"></script>
    <script src="scripts/directives/eventurefooter.js"></script>
    <script src="scripts/directives/jquerydirectives.js"></script>
    <script src="scripts/controllers/categoryevents.js"></script>
    <script src="scripts/controllers/editevent.js"></script>
    <script src="scripts/controllers/previewmodal.js"></script>
    <script src="scripts/controllers/navbarcontroller.js"></script>
    <script src="scripts/directives/dirDisqus.js"></script>
    <script src="scripts/controllers/organizerprofile.js"></script>
    <script src="scripts/controllers/calendar.js"></script>
    <!-- endbuild -->

  </body>

</html>
