<section id="category-page">
  <div class="container" style="margin-bottom:60px">
  <h3 class="bg-sblack" ng-style="categorytitle">{{category.name}}
    Events</h3>
    <div class="m-">
      <ng-map class="category-centering" zoom="9" center="[{{categoryevents[0].latitude}},{{categoryevents[0].longitude}}]">
        <marker
        ng-repeat="location in eventMarkers"
        position="{{location}}"
        on-click="toggleBounce()"
        animation="DROP"
        />
      </ng-map>
    </div>
    <div style="height:60px;">
      <div class="col-xs-4" style="height:60px;">
        <h4 class="text-muted extra-bold m-none p-none" ng-show="categoryevents.length > 0" style="height:60px; line-height:60px;">
          {{categoryevents.length}} {{category.name}} event(s) have been found
        </h4>
      </div>
      <div class="col-xs-8  p-xs" style="height:60px;">
        <input date-range-picker class="col-xs-12 date-picker form-control" type="text" value="" placeholder="Filter by Date" ng-model="datePicker.date" options="datePickerOptions" style="height:50px; line-height:50px;" />
      </div>
    </div>
    <div class="m-t-xl m-b-xl col-xs-12 text-center text-primary fade-in-out-quick" ng-show="categoryevents.length <= 0">
      <h1>There are no upcoming {{category.name}} events, create one now!</h1>
      <button class="col-xs-12 col-sm-4 col-sm-offset-4 btn btn-success p-sm" href="/createEvent" user-required="true" user-required-callback="toCreateEvent">Create Event</button>
    </div>
    <div ng-repeat="event in categoryevents">

        <li class="list-group-item">
            <div class="profile-list-wrapper no-gutters">
                <div class="profile-list-boxes profile-date bg-main">
                    <span class="profile-date-month category-division-month">{{event.start_date | date:'MMM'}}</span>
                    <span class="profile-date-day category-division-day">{{event.start_date | date:'d'}}</span>
                </div>
                <a href="eventDetails/{{ event.id }}" class="profile-list-boxes img-wrapper">
                    <img ng-src="{{ event.picture_url || 'http://localhost:9000/uploads/defaults/default.jpg' }}" alt="Photo of {{ event.name.trim() }}">
                </a>
                <div class="event-details">
                    <p class="event-name">{{event.name}}</p>
                    <p class="event-address">{{event.address}}</p>
                    <p class="event-categories">
                      <a href="categoryEvents/{{category.id}}" class="tag m-r-xs">
                          <kbd>#{{category.name}}</kbd>
                      </a>
                    </p>
                </div>
            </div>
        </li>
    </div>
  </div>
</section>
