<section class="container">
  <div class="spinner fade-in" ng-show="!tinyMceLoaded">Loading&#8230;</div>
  <form class="create-form container-fluid fade-in" name="form">
    <div>
      <!-- Form Header -->
      <h1>Create Your Successful Event
        <span>Get started below!</span>
      </h1>

      <div class="event-title">{{newEvent.name}}</div>

      <!-- Section one -->
      <div class="section">
        <span>1</span>Start with the name</div>
      <div class="inner-wrap">
        <input class="form-control capitalize" id="section1" placeholder="Give a short distinct title" type="text" autofocus ng-model="newEvent.name"/>
      </div>

      <!-- Section two -->
      <div class="section">
        <span>2</span>Where is it located?
        <i class="fa fa-map-marker"></i>
      </div>
      <div class="inner-wrap">
        <ng-map zoom="11" center="{{marker.position.latitude}} , {{marker.position.longitude}}" map-initialized="mycallback(map)" ng-if="enterAddress">
          <marker position="{{marker.position.latitude}}, {{marker.position.longitude}}"/>
          <control name="overviewMap" opened="true"/>
        </ng-map>
        <div id="address" ng-show="enterAddress">
          <input id="location" ng-blur="geoCode()" g-places-autocomplete class="form-control" id="autocomplete" placeholder="7899 McLaughlin Rd, Brampton, ON L6Y 5H9, Canada" type="text" ng-model="newEvent.address" ng-model-onblur  autocomplete="off"></input>
        </div>
        <p ng-show="online">This is an online event</p>
        <button type="button" ng-click="showMap()" class="btn btn-default">Enter Address</button>
        <button type="button" ng-click="hideMap()" class="btn btn-default">Online Event</button>
      </div>

      <!-- Section three -->
      <div class="section">
        <span>3</span>When is it happening?
        <i class="fa fa-calendar"></i>
      </div>
      <div class="inner-wrap">
        <label>
          <strong>Starts</strong>
        </label>
        <div class="form-group">
          <p class="input-group  col-sm-12 col-md-7 col-lg-5">
            <input
              id="section3"
              readonly
              type="text"
              class="form-control"
              uib-datepicker-popup="{{ format }}"
              ng-model="newEvent.start_date"
              is-open="start_date_picker.opened"
              datepicker-options="datepickerOptions"

              close-text="Close"
              placeholder="{{ sd_placeholder | date: 'EEEE, MMMM d, y h:mm a':'UTC' }}"
              alt-input-formats="altFormat"/>
            <span class="input-group-btn">
              <button type="button" class="btn btn-default" ng-click="open_sd()">
                <i class="fa fa-calendar-o"></i>
              </button>
            </span>
          </p>
          <p class="input-group">
            <div uib-timepicker ng-model="newEvent.start_date" ng-change="onTimepickerChanged(newEvent.start_date)" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian"></div>
          </p>
        </div>

        <label>
          <strong>Ends</strong>
        </label>
        <p class="input-group col-sm-12 col-md-7 col-lg-5">
          <input
            readonly
            type="text"
            class="form-control"
            uib-datepicker-popup="{{ format }}"
            ng-model="newEvent.end_date"
            is-open="end_date_picker.opened"
            datepicker-options="datepickerOptions"

            close-text="Close"
            placeholder="{{ ed_placeholder | date: 'EEEE, MMMM d, y h:mm a':'UTC' }}"
            alt-input-formats="altFormat"/>
          <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="open_ed()">
              <i class="fa fa-calendar-o"></i>
            </button>
          </span>
        </p>
        <p class="input-group">
          <div uib-timepicker ng-model="newEvent.end_date" ng-change="onTimepickerChanged(newEvent.end_date)" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian"></div>
        </p>
      </div>

      <!-- Section four -->
      <div class="section" id="section4">
        <span>4</span>EVENT IMAGE
        <i class="fa fa-file-picture-o"></i>
      </div>
      <div class="inner-wrap bg-inherit img-thumbnail">
        <div class="col-xs-12">
          <div class="file-upload text-center text-primary" ngf-select="setFile($file, $invalidFiles)" ng-model="newEvent.file" ngf-fix-orientation="true" ngf-pattern="'image/*'" ngf-max-size="10MB" ngf-drag-over-class="'dragover'">
            <img class="col-xs-12 no-gutters" ng-show="newEvent.file" ngf-thumbnail="newEvent.file" ngf-size="{width: 100%, height: 190px, quality: 0.9}" style="max-height:190px"></img>
            <strong ng-hide="newEvent.file">
              <i class="fa fa-camera-retro fa-lg"></i>
              Drag/Select Image to upload
            </strong>
          </div>
        </div>
        <div class="col-xs-12 p-t-sm p-b-sm">
          <p class="btn btn-danger" ng-show="newEvent.file" ng-click="newEvent.file = null">Remove
            <i class="glyphicon glyphicon-remove-sign"></i>
          </p>
          <strong class="p-l-md text-primary" ng-show="newEvent.file">Filename:
            {{ newEvent.file.name }}</strong>
        </div>
      </div>

      <!-- Section five -->
      <div class="section">
        <span>5</span>Tell Everyone what its all about!</div>
      <div class="inner-wrap">

        <textarea id="section5" ui-tinymce="tinyMceOptions" ng-model="newEvent.description" ng-show="tinyMceLoaded"></textarea>
      </div>

      <!-- Section six -->
      <div class="section" id="section6">
        <span>6</span>Privacy</div>
      <div class="inner-wrap">
        <div class="radio">
          <label for="publicRb"><input id="publicRb" type="radio" name="eventPrivacy" value="public" ng-model="newEvent.private" selected ng-checked="true" ng-click="public()">
            Public
          </label>
        </div>
        <div class="radio">
          <label for="privateRb"><input type="radio" id="privateRb" name="eventPrivacy" value="private" ng-model="newEvent.private" ng-click="private()">
            Private
          </label>
          <input type="password" class="form-control" ng-show="password" placeholder="Enter password" ng-model="newEvent.password"></input>
        </div>
      </div>

      <!-- Section seven -->
      <div class="section" id="section7">
        <span>7</span>Categorize your events (max 3)</div>
      <div class="inner-wrap p-sm" style="height:{{categories.length / 3 * 45}}px;max-height:auto;" ng-if="categories.length > 0">
        <div ng-repeat="category in categories" style="height: 35px; margin:0;" class="col-xs-4 checkbox">
          <label for="{{category.id + '_' + category.name}}">
            <input id="{{category.id + '_' + category.name}}" type="checkbox" ng-disabled="newEvent.categories.length == categoryLimit && newEvent.categories.indexOf(category.id) == -1" checklist-model="newEvent.categories" checklist-value="category.id"/>
            {{category.name}}
          </label>
        </div>
      </div>

      <!-- Section eight -->
      <div class="section">
        <span>8</span>Whoo...finally, you're almost done!</div>
      <div class="inner-wrap bg-white">
        <div class="col-xs-1 col-xs-2 col-lg-3"></div>
        <button class="btn btn-primary col-xs-5 col-sm-4 col-lg-3" ng-click="preview()" data-toggle="modal" data-target="#preview-modal" ng-click="preview('lg')">Preview</button>
        <button class="btn btn-success col-xs-5 col-sm-4 col-lg-3" ng-click="submit(newEvent)">Make Your Event Live</button>
      </div>
    </div>
    <!-- end of form container -->

  </form>











  <!----------------- Preview Modal-------------------------------------------->
<div id="previewmodalwrapper">
  <script type="text/ng-template" id="previewmodal.html">
    <div class="modal-header">
      <button type="button" class="close" ng-click="closemodal()">&times;</button>
      <h4 class="modal-title">Event Preview</h4>
    </div>
    <div class="modal-body p-none m-none" id="event-details-page">
      <div class="container m-t-xs m-b-md" style="border-radius:7px; border:2px solid #ededed;background-color:#fff; width:100%;">
        <header class="bg-inherit">
          <figure class="event-banner col-sm-12 col-md-8 col-lg-8 no-gutters">
            <img ngf-thumbnail="event.file" alt="Event banner"/>
          </figure>
          <div class="event-title-within hidden-sm hidden-xs col-md-4 col-lg-4">
            <p class="event-name">{{event.name}}</p>
            <p class="event-date">{{event.start_date | date: 'EEE MMM dd, yyyy' | uppercase}}</p>
            <div class="col-xs-12 join-button">
              <p class="btn btn-success col-xs-12 no-gutters">
                <span>JOIN EVENT</span>
                <i class="fa fa-sign-in fa-lg p-l-xs"></i>
              </p>
            </div>
          </div>
          <div class="event-title-under hidden-md hidden-lg no-gutters">
            <p class="event-name">{{event.name | uppercase}}</p>
          </div>
        </header>
        <div class="container">
          <div class="col-xs-12 col-sm-7 col-md-8 p-lg">
            <p class="description-title p-b-lg">
              <strong>description</strong>
            </p>
            <div ng-bind-html="event.description" class="event-description description-font"></div>
          </div>
          <div class="col-sm-5 col-md-4 p-lg">
            <section class="event-info">
              <h4 class="uppercase">Date and time<i class="fa fa-clock-o"></i>
              </h4>
              <div class="event-date">
                <strong>FROM:
                </strong>{{ event.start_date | date: 'EEE, MMM d yyyy, h:mm ':'UTC'}}</div>
              <div class="event-date">
                <strong>TO:
                </strong>{{ event.end_date | date: 'EEE, MMM d yyyy, h:mm ':'UTC'}}</div>
            </section>
            <section class="event-info">
              <h4 class="uppercase">Location
                <i class="fa fa-map-marker"></i>
              </h4>
              <div class="text-muted event-location" ng-if="(event.latitude && event.longitude)">{{ event.address }}</div>
              <div class="text-muted event-lication" ng-if="!(event.latitude && event.longitude)">On the web!</div>
            </section>
          </div>
        </div>
        <hr>
        <div class="p-t-md p-b-md m-b-lg" ng-if="event.latitude && event.longitude">
          <ng-map
            zoom="11"
            center="[{{ event.latitude }}, {{ event.longitude }}]"
            class="fade-in"
            map-type-control="true"
            map-type-control-options="{style:'HORIZONTAL_BAR', position:'BOTTOM_CENTER'}"
            zoom-control="true"
            zoom-control-options="{style:'LARGE', position:'LEFT_CENTER'}"
            scale-control="true"
            street-view-control="true"
            street-view-control-options="{position:'LEFT_TOP'}"
            >
            <directions panel="directions-panel" draggable="true" travel-mode="{{travelMode}}" origin="{{origin.formatted_address}}" destination="{{ event.address }}"></directions>
            <marker position="[{{ event.latitude }}, {{ event.longitude }}]"/>
          </ng-map>

        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" ng-click="closemodal()">Close</button>
    </div>

  </script>
</div>

</section>
