<section class="fade-in" id="event-details-page">
  <div class="container m-t-xs m-b-md" ng-if="!event">
    <h3 class="text-muted text-center">
      <span>Event Not found</span>
      <a href="/">go back to main</a>
    </h3>
  </div>
  <div class="container m-t-xs m-b-md" style="border-radius:7px; border:2px solid #ededed;background-color:#fff;" ng-if="event">
    <header class="bg-inherit">
      <figure class="event-banner col-sm-12 col-md-8 col-lg-8 no-gutters">
        <img ng-show="edit" ng-src="{{event.picture_url}}" alt="Event banner"/>
        <div ng-hide="edit" class="file-upload text-center text-primary" ngf-select="setFile($file, $invalidFiles)" ng-model="newEvent.file" ngf-pattern="'image/*'" ngf-max-size="10MB" ngf-drag-over-class="'dragover'" accept=".jpg,.tif,.png,.gif">
          <img id="eventpicture" class="col-xs-12 no-gutters" ng-show="newEvent.file" ngf-thumbnail="newEvent.file" ngf-size="{width: 100%, height: 190px, quality: 0.9}" style="max-height:100%"></img>
          <strong ng-hide="newEvent.file">
            <i class="fa fa-camera-retro fa-lg"></i>
            Drag/Select Image to upload
          </strong>
        </div>
      </figure>
      <div class="event-title-within hidden-sm hidden-xs col-md-4 col-lg-4">
        <p class="event-name" ng-show="edit">{{event.name | uppercase}}</p>
        <h4 class="uppercase" ng-hide="edit">Event Title</h4>
        <input class="form-control capitalize" type="text" ng-hide="edit" ng-value="eventname" ng-model="newEvent.name"></input>
        <p ng-show="edit" class="event-date">{{event.start_date | date: 'EEE MMM dd, yyyy' | uppercase}}</p>
        <div class="col-xs-12 join-button" ng-show="!joined && !isOwner && (event.end_date > now)">
          <p class="btn btn-success col-xs-12 no-gutters" user-required="true" user-required-callback="join">
            <span>JOIN EVENT</span>
            <i class="fa fa-sign-in fa-lg p-l-xs"></i>
          </p>
        </div>
        <div class="col-xs-12 leave-button" ng-show="joined && !isOwner && (event.end_date > now)">
          <p class="btn btn-warning col-xs-12 no-gutters" ng-click="leave()">
            <span>LEAVE EVENT<i class="fa fa-sign-out fa-lg p-l-xs"></i>
            </span>
          </p>
        </div>
        <div class="col-xs-12 edit-button" ng-show="isOwner">
          <p class="col-xs-12 btn btn-primary no-gutters" ng-click="editEvent()">
            <span>EDIT EVENT</span>
            <i class="fa fa-pencil-square-o p-l-xs"></i>
          </p>
        </div>

        <div class="col-xs-12 edit-button" ng-hide="edit">
          <p class="col-xs-12 btn btn-warning no-gutters" ng-click="cancel()">
            <i class="fa fa-times p-l-xs"></i>
            <span>CANCEL</span>
          </p>
        </div>

        <div class="col-xs-12 edit-button" ng-hide="edit">
          <p class="col-xs-12 btn btn-danger no-gutters" ng-click="deleteEvent()">
            <span>DELETE EVENT</span>
            <i class="fa fa-pencil-square-o p-l-xs"></i>
          </p>
        </div>
      </div>



      <div class="event-title-under hidden-md hidden-lg no-gutters">
        <p class="event-name">{{event.name | uppercase}}</p>
      </div>
    </header>
    <div class="no-gutters hidden-md hidden-lg m-b-md" style="height: 34px;">
      <div class="col-xs-12 no-gutters leave-button" ng-show="joined && !isOwner && (event.end_date > now)">
        <p class="btn btn-warning col-xs-12 no-gutters" ng-click="leave()">
          <span>LEAVE EVENT</span>
          <i class="fa fa-sign-out fa-lg p-l-xs"></i>
        </p>
      </div>
      <div class="col-xs-12 no-gutters join-button" ng-show="!joined && !isOwner && (event.end_date > now)">
        <p class="btn btn-success col-xs-12 no-gutters" user-required="true" user-required-callback="join">
          <span>JOIN EVENT</span>
          <i class="fa fa-sign-in fa-lg p-l-xs"></i>
        </p>
      </div>
      <div class="col-xs-12 edit-button no-gutters" ng-show="isOwner">
        <p class="col-xs-12 btn btn-primary no-gutters m-r-none m-l-none" ng-click="editEvent()">
          <span>{{ editBtnText }}</span>
          <i class="fa fa-pencil-square-o p-l-xs"></i>
        </p>
      </div>
    </div>

    <div class="container">

      <div class="col-xs-12 col-sm-7 col-md-8 p-lg">
        <p ng-show="edit" class="description-title p-b-lg">
          <strong>description</strong>
        </p>
        <div ng-show="edit" ng-bind-html="event.html_description" class="event-description description-font"></div>
        <div ng-hide="edit">
          <p class="description-title p-b-lg">
            <strong>description</strong>
          </p>
          <textarea ui-tinymce="tinyMceOptions" ng-model="newEvent.description" ng-show="tinyMceLoaded"></textarea>
        </div>
        <div class="m-t-lg">
          <p>
            <a href="categoryEvents/{{category.id}}" ng-repeat="category in event.categories | limitTo:3" class="tag m-r-xs">
                <kbd>#{{ category.name}}</kbd>
            </a>
          </p>
        </div>
      </div>

      <div class="col-sm-5 col-md-4 p-lg">
        <section class="event-info">
          <h4 class="uppercase">Date and time<i class="fa fa-clock-o"></i>
          </h4>
          <div class="event-date" ng-show="edit">
            <strong>FROM:
            </strong>{{ event.start_date | date: 'EEE, MMM d yyyy, h:mm a':'UTC'}}</div>
          <div class="form-group" ng-hide="edit">
            <strong>FROM:</strong>
            <p class="input-group  col-sm-12 col-md-7 col-lg-5">
              <input
                readonly
                ng-value="eventstart | date: 'EEEE, MMMM d yyyy, h:mm a':'UTC'"
                type="text"
                class="form-control"
                uib-datepicker-popup="{{ format }}"
                ng-model="newEvent.start_date"
                is-open="start_date_picker.opened"
                datepicker-options="datepickerOptions"
                ng-required="true"
                close-text="Close"
                alt-input-formats="altFormat"
                style="width:300px"/>
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="open_sd()">
                  <i class="fa fa-calendar-o"></i>
                </button>
              </span>
            </p>
            <p class="input-group">
              <div uib-timepicker ng-model="newEvent.start_date" ng-change="onTimepickerChanged(newEvent.start_date)" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian"></div>
            </p>
          </div>
          <div class="event-date" ng-show="edit">
            <strong>TO:
            </strong>{{ event.end_date | date: 'EEE, MMM d yyyy, h:mm a':'UTC'}}</div>
          <div class="form-group" ng-hide="edit">
            <strong>TO:</strong>
            <p class="input-group  col-sm-12 col-md-7 col-lg-5">
              <input
                readonly
                ng-value="eventend | date: 'EEEE, MMMM d yyyy, h:mm a':'UTC'"
                type="text"
                class="form-control"
                uib-datepicker-popup="{{ format }}"
                ng-model="newEvent.end_date"
                is-open="end_date_picker.opened"
                datepicker-options="datepickerOptions"
                ng-required="true"
                close-text="Close"
                alt-input-formats="altFormat"
                style="width:300px"/>
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="open_ed()">
                  <i class="fa fa-calendar-o"></i>
                </button>
              </span>
            </p>
            <p class="input-group">
              <div uib-timepicker ng-model="newEvent.end_date" ng-change="onTimepickerChanged(newEvent.end_date)" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian"></div>
            </p>
          </div>

          <div class="inner-wrap" ng-hide="edit">
            <strong>PRIVACY:</strong>
            <div class="radio">
              <label for="publicRb"><input id="publicRb" ng-checked="public" type="radio" name="eventPrivacy" ng-model="newEvent.private" ng-click="publicClicked()"  value="public">
                Public
              </label>
            </div>
            <div class="radio">
              <label for="privateRb"><input type="radio" ng-checked="private" id="privateRb" name="eventPrivacy" ng-model="newEvent.private" ng-click="privateClicked()"  value="private">
                Private
              </label>
              <p></p>
              <input type="password" ng-show="password" class="form-control" placeholder="{{passwordplaceholder}}" ng-model="newEvent.password"></input>
            </div>
          </div>
        </section>

        <section class="event-info" ng-show="edit">
          <h4 class="uppercase">Location
            <i class="fa fa-map-marker"></i>
          </h4>
          <div class="text-muted event-location" ng-if="(event.latitude && event.longitude)">{{ event.address }}</div>
          <div class="text-muted event-location" ng-if="!(event.latitude && event.longitude)">On the web!</div>
        </section>
        <section class="event-info" ng-show="edit && !isOwner">
          <h4 class="uppercase">Event Organizer
            <i class="fa fa-user" aria-hidden="true"></i>
          </h4>
          <div id="profilebutton">
            <a href="organizerProfile/{{event.user_id}}"><img src="../images/profiledefault.jpg" ng-src="{{user.profile_pic_url}}" height="42" width="42"> {{user.username}}</a>
          </div>
        </section>
      </div>

    </div>
    <hr>
    <p ng-show="online">This is an online event</p>
    <button ng-hide="edit" type="button" ng-click="showMap()" class="btn btn-default">Enter Address</button>
    <button ng-hide="edit" type="button" ng-click="hideMap()" class="btn btn-default">Online Event</button>
    <div class="p-t-md p-b-md m-b-lg" ng-if="event.latitude && event.longitude">
      <h4 class="uppercase">Location
        <i class="fa fa-map-marker"></i>
      </h4>
      <div id="address" ng-hide="edit">
        <input
          id="location"
          places-auto-complete
          class="form-control"
          id="autocomplete"
          placeholder="7899 McLaughlin Rd, Brampton, ON L6Y 5H9, Canada"
          type="text"
          ng-required="true"
          autocomplete="off"
          on-place-changed="placeChanged()"
          ng-value="eventaddress"></input>
      </div>
      <ng-map
        zoom="11"
        center="[{{ event.latitude }}, {{ event.longitude }}]"
        class="fade-in"
        map-type-control="true"
        map-type-control-options="{style:'HORIZONTAL_BAR', position:'BOTTOM_CENTER'}"
        zoom-control="true"
        zoom-control-options="{style:'LARGE', position:'LEFT_CENTER'}"
        scale-control="true"
        street-view-control="true"
        street-view-control-options="{position:'LEFT_TOP'}">
        <directions panel="directions-panel" draggable="true" travel-mode="{{travelMode}}" origin="{{origin.formatted_address}}" destination="{{ event.address }}"></directions>
        <marker position="[{{ event.latitude }}, {{ event.longitude }}]"/>
      </ng-map>

      <a ng-show="edit" href="javascript:void(0)" class="text-center text-primary uppercase p-md col-xs-12 no-style" ng-show="directionShown == false" ng-click="showDirections()">
        get directions!
        <i class="fa fa-map-marker"></i>
      </a>

      <div class="col-xs-12" ng-show="directionShown == true">
        <a href="javascript:void(0)" class="text-center text-primary uppercase p-md col-xs-12 no-style" ng-click="hideDirections()">
          hide directions!
        </a>

        <div class="col-xs-6 p-t-md p-b-md">
          <label>Travel Methods</label>
          <select class="form-control" ng-model="travelMode" ng-init="travelMode='DRIVING'">
            <option value="DRIVING">Driving</option>
            <option value="WALKING">Walking</option>
            <option value="BICYCLING">Bicycling</option>
            <option value="TRANSIT">Transit</option>
          </select>
        </div>
        <div class="col-xs-6 p-t-md p-b-md">
          <label>
            Origin
          </label>
          <input id="location" g-places-autocomplete class="form-control" id="autocomplete" placeholder="Start from Where?" type="text" ng-model="origin" autocomplete="off"></input>
        </div>

        <div id="directions-panel" class="col-xs-12" style="float:left; height: 100%; overflow: auto; padding: 0px 5px;"></div>
      </div>
    </div>

    <section class="event-info" ng-hide="edit">
      <div class="inner-wrap p-sm" style="height:{{categories.length / 3 * 45}}px;max-height:auto;" ng-if="categories.length > 0">
        <h4 class="uppercase">Category</h4>
        <div ng-repeat="category in categories" style="height: 35px; margin:0;" class="col-xs-4 checkbox">
          <label for="{{category.id + '_' + category.name}}">
            <input
              ng-checked="{{category.name}}"
              id="{{category.id + '_' + category.name}}"
              type="checkbox"
              ng-disabled="newEvent.categories.length == categoryLimit && newEvent.categories.indexOf(category.id) == -1"
              checklist-model="newEvent.categories"
              checklist-value="category.id"
              ng-checked="newEvent.categories.indexOf(category.id) >= 0"/>
            {{category.name}}
          </label>
        </div>
      </div>
    </section>

    <div class="col-xs-12 no-gutters" ng-show="edit">
      <ul class="event-stats">
        <li class="col-xs-4 like" user-required="true" user-required-callback="likeEvent">
          <p>{{likes}}</p>
          <p>
            <i class="fa fa-thumbs-o-up"></i>
            <span class="hidden-xs">Likes</span>
          </p>
        </li>
        <li class="col-xs-4 dislike" user-required="true" user-required-callback="dislikeEvent">
          <p>{{dislikes}}</p>
          <p>
            <i class="fa fa-thumbs-o-down"></i>
            <span class="hidden-xs">Dislikes</span>
          </p>
        </li>
        <li class="col-xs-4">
          <p>{{attendees}}</p>
          <p>
            <i class="fa fa-users"></i>
            <span class="hidden-xs">Attendees</span>
          </p>
        </li>
      </ul>
    </div>
    <div class="col-xs-12 no-gutter" style="background-color:#f5f2f0;">
      <dir-disqus config="disqusConfig" ng-show="edit"></dir-disqus>
    </div>

    <div id="password-request-modal" ng-show="edit">
      <script type="text/ng-template" id="passwordModal.html">
        <div class="modal-header">
          <button type="button" class="close" ng-click="close()">&times;</button>
          <h4 class="modal-title">Enter Password<i class="fa fa-lock p-l-sm"></i>
          </h4>
        </div>

        <div class="modal-body">
          <input class="form-control" type="password" ng-model="password">
          <p class="password-error error fade-in" ng-show="passwordError">{{passwordError}}</p>
        </div>

        <div class="modal-footer">
          <p class="btn btn-success" ng-click="join()">Submit</p>
        </div>
      </script>
    </div>

    <div class="col-xs-12 edit-button" ng-hide="edit">
      <p class="col-xs-12 btn btn-success no-gutters" ng-click="update(newEvent)">
        <i class="fa fa-floppy-o p-l-xs"></i>
        <span>SAVE CHANGES</span>
      </p>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Delete Event</h4>
          </div>
          <div class="modal-body">
            <p>Are you sure you want to delete this event?</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
            <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="deleteEvent()">Yes</button>
          </div>
        </div>

      </div>
    </div>
  </section>
