<section class="mainpage fade-in">
  <div class="no-gutters container">
    <div class="carousel slide" id="carousel">
      <ol class="carousel-indicators">
        <li data-slide-to="0" data-target="#carousel" class="active"></li>
        <li data-slide-to="1" data-target="#carousel"></li>
        <li data-slide-to="2" data-target="#carousel"></li>
        <li data-slide-to="3" data-target="#carousel"></li>
        <li data-slide-to="4" data-target="#carousel"></li>

      </ol>
      <div class="carousel-inner" role="listbox">
        <div class="carousel-overlay"></div>
        <div class="item" ng-repeat="item in carousel" ng-class="carousel.indexOf(item) === 0 ? 'active' : ''" style="overflow: hidden;">
          <img ng-src="{{ item.src }}" class='carousel-img img-responsive'/>
        </div>
      </div>
      <!--
            <a class="left carousel-control" data-target="#carousel" data-slide="prev" href="javascript:void(0)">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a class="right carousel-control" data-target="#carousel" data-slide="next" href="javascript:void(0)">
                <span class="glyphicon glyphicon-chevron-right"></span>
            </a> -->
    </div>
  </div>
  <div class="container">
    <div id="search-navbar" class="m-t-md m-b-md row">
      <form class="form-inline">
        <input date-range-picker class="col-xs-12 col-sm-6 date-picker" type="text" value="" placeholder="Filter by Date" ng-model="datePicker.date" options="datePickerOptions"/>
        <input class="col-xs-12 col-sm-6" ng-model="query" placeholder="Search for events, City or location" autofocus>
        <label class="form-group col-xs-12 col-sm-12 no-gutters">
          <select class="dropdownStyle no-gutter col-xs-12" ng-model="selected" ng-change="category()">
            <option value="" selected disabled>Select Category</option>
            <option ng-repeat="c in categories" value="{{c.value}}">{{c.text}}</option>
          </select>
        </label>
      </form>
    </div>

    <multi-event-list e="events" cp="currentPage" ps="pageSize" q="query"></multi-event-list>

  </div>
  <script>
    $(function() {

      $("#carousel").carousel();

    });

    $(function() {
/*
    $('input[name="datefilter"]').daterangepicker({
        autoUpdateInput: false,
        locale: {
            cancelLabel: 'Clear'
        }
    });

    $('input[name="datefilter"]').on('apply.daterangepicker', function(ev, picker) {
        $(this).val(picker.startDate.format('MM/DD/YYYY') + ' - ' + picker.endDate.format('MM/DD/YYYY'));
    });

    $('input[name="datefilter"]').on('cancel.daterangepicker', function(ev, picker) {
        $(this).val('');
    });*/

  });
  </script>
</section>
