<div class="container-fluid notification-page">
  <h1 class="text-center" ng-click="print()">{{currentUser.displayName | uppercase}}'s Notifications</h1>
  <hr />
  <div ng-include="'views/partials/notifications-template.html'"></div>
</div>
