<section class="organizerprofilepage">
  <section class="fullprofile">
    <section class="oragnizerprofile">
      <header class="clearfix">
        <div class="user">
          <div class="avatar">
            <img alt="{{user.username}}" src="../images/profiledefault.jpg" ng-src="{{user.profile_pic_url}}" >
          </div>
          <h2 ng-hide="noname">{{user.first_name}} {{user.last_name}}</h2>
          <h4>Username: {{user.username}}</h4>
          <h4 ng-hide="nobirthdate">Birthday: {{user.date_of_birth | date: 'MMM dd, yyyy' | uppercase}}</h4>
          <a href="#" class="follow">
            <span></span>Contact
          <i class="fa fa-envelope" aria-hidden="true"></i>
        </a>
        </div>
      </header>

    </section>
    <section class="organizerevents">
      <uib-tabset active="active">
        <uib-tab index=0 heading="Current Events" class="fade-in">
          <ul class="list-group" id="profile-joined-events">
            <div ng-repeat="event in currentEvents">
              <li class="list-group-item">
                <div class="profile-list-wrapper no-gutters">
                  <div class="profile-list-boxes profile-date bg-lgreen">
                    <span class="profile-date-month category-division-month">{{event.start_date | date:'MMM'}}</span>
                    <span class="profile-date-day category-division-day">{{event.start_date | date:'d'}}</span>
                  </div>
                  <a href="eventDetails/{{ event.id }}" class="profile-list-boxes img-wrapper">
                    <img ng-src="{{ event.picture_url || 'http://localhost:9000/uploads/defaults/default.jpg' }}" alt="Photo of {{ event.name.trim() }}">
                  </a>
                  <div class="event-details">
                    <p class="event-name">{{event.name}}</p>
                    <p class="event-address">{{event.address}}</p>
                    <p class="event-categories">
                      <a href="categoryEvents/{{category.id}}" ng-repeat="category in event.categories | limitTo:3" class="tag m-r-xs">
                        <kbd>#{{category.name}}</kbd>
                      </a>
                    </p>
                  </div>
                </div>
              </li>
            </div>
          </ul>
        </uib-tab>

        <uib-tab index=1 heading="Passed Events">
          <ul class="list-group" id="profile-created-events">
            <div ng-repeat="event in passedEvents">
              <li class="list-group-item">
                <div class="profile-list-wrapper no-gutters">
                  <div class="profile-list-boxes profile-date bg-bblue">
                    <span class="profile-date-month category-division-month">{{event.start_date | date:'MMM'}}</span>
                    <span class="profile-date-day category-division-day">{{event.start_date | date:'d'}}</span>
                  </div>
                  <a href="eventDetails/{{ event.id }}" class="profile-list-boxes img-wrapper">
                    <img ng-src="{{ event.picture_url || 'http://localhost:9000/uploads/defaults/default.jpg' }}" alt="Photo of {{ event.name.trim() }}">
                  </a>
                  <div class="event-details">
                    <p class="event-name">{{event.name}}</p>
                    <p class="event-address">{{event.address}}</p>
                    <p class="event-categories">
                      <a href="categoryEvents/{{category.id}}" ng-repeat="category in event.categories | limitTo:3" class="tag m-r-xs">
                        <kbd>#{{category.name}}</kbd>
                      </a>
                    </p>
                  </div>
                </div>
              </li>
            </div>
          </ul>
        </uib-tab>
      </uib-tabset>
    </section>
  </section>
</section>
