<div class="container-fluid" id="profile-page" style="min-height:100%;">
  <div class="profile-main-area" >
    <header class="col-xs-12">
      <img alt="Bootstrap Image Preview" src="../images/profiledefault.jpg" ng-src="{{currentUser.profile_pic_url}}" class="img-circle center-block" width="256px" height="256px"/>
    </header>
    <h1 class="text-center">{{currentUser.displayName}}</h1>
    <div class="row ">
      <div class="container-fluid col-md-10 col-md-offset-1">
        <uib-tabset active="active" >
          <uib-tab index=0 heading="Joined Events" class="fade-in">
            <h3 ng-if="userJoinedEvents.length === 0">You haven't joined any events, <a href="/main" class="text-primary"> Get Started </a> now.</h3>

            <ul class="list-group" id="profile-joined-events">
              <div ng-repeat="event in userJoinedEvents track by $index">
                <li class="list-group-item">
                  <div class="profile-list-wrapper no-gutters">
                    <div class="profile-list-boxes profile-date bg-lgreen">
                      <span class="profile-date-month category-division-month">{{event.start_date | date:'MMM'}}</span>
                      <span class="profile-date-day category-division-day">{{event.start_date | date:'d'}}</span>
                    </div>
                    <a href="eventDetails/{{ event.id }}" class="profile-list-boxes img-wrapper">
                      <img ng-src="{{ event.picture_url || 'http://localhost:9000/uploads/defaults/default.jpg' }}" alt="Photo of {{ event.name.trim() }}">
                    </a>
                    <div class="event-details">
                      <p class="event-name">{{event.name}}</p>
                      <p class="event-address">{{event.address}}</p>
                      <p class="event-categories">
                        <a href="categoryEvents/{{category.id}}" ng-repeat="category in event.categories | limitTo:3" class="tag m-r-xs">
                          <kbd>#{{category.name}}</kbd>
                        </a>
                      </p>
                    </div>
                  </div>
                </li>
              </div>
            </ul>
          </uib-tab>

          <uib-tab index=1 heading="Created Events">
            <h3 ng-if="userCreatedEvents.length === 0">You haven't created any events, <a href="/createEvent" class="text-primary"> Get Started</a> now.</h3>
            <ul class="list-group" id="profile-created-events">
              <div ng-repeat="event in userCreatedEvents">
                <li class="list-group-item">
                  <div class="profile-list-wrapper no-gutters">
                    <div class="profile-list-boxes profile-date bg-bblue">
                      <span class="profile-date-month category-division-month">{{event.start_date | date:'MMM'}}</span>
                      <span class="profile-date-day category-division-day">{{event.start_date | date:'d'}}</span>
                    </div>
                    <a href="eventDetails/{{ event.id }}" class="profile-list-boxes img-wrapper">
                      <img ng-src="{{ event.picture_url || 'http://localhost:9000/uploads/defaults/default.jpg' }}" alt="Photo of {{ event.name.trim() }}">
                    </a>
                    <div class="event-details">
                      <p class="event-name">{{event.name}}</p>
                      <p class="event-address">{{event.address}}</p>
                      <p class="event-categories">
                        <a href="categoryEvents/{{category.id}}" ng-repeat="category in event.categories | limitTo:3" class="tag m-r-xs">
                          <kbd>#{{category.name}}</kbd>
                        </a>
                      </p>
                    </div>
                  </div>
                </li>
              </div>
            </ul>
          </uib-tab>

          <uib-tab index=2 heading="Profile Settings">
            <div class="container-fluid" style="margin:20px">
              <div class="row" style="margin:10px;">
                <div class="file-upload text-center text-primary no-gutters col-sm-9" ngf-select="setFile($file, $invalidFiles)" ng-model="profile.file" ngf-fix-orientation="true" ngf-pattern="'image/*'" ngf-max-size="10MB" ngf-drag-over-class="'dragover'" style="margin: 0px auto;">
                  <strong>
                    <i class="fa fa-camera-retro fa-lg"></i>
                    Upload Profile Picture
                  </strong>
                </div>
              </div>

              <div class="row" style="margin:10px;">
                <div class="col-sm-2" style="text-align: right;">
                  <div>
                    <label>
                      <strong>First Name</strong>
                    </label>
                  </div>
                </div>
                <div class="col-sm-5">
                  <div class="inner-wrap">
                    <input ng-readonly="txtfirstname" style="width:85%; display: inline-block;" class="form-control" type="text" ng-model="profile.firstname" ng-value="currentUser.first_name" ng-required="false"/>
                    <button ng-hide="editfirst" ng-click="editfirstname()" style="margin-left:15px" type="button" class="btn btn-default btn-circle" style="display: inline-block;">
                      <i class="fa fa-pencil"></i>
                    </button>
                    <button ng-show="editfirst" ng-click="disablefirstname()" style="margin-left:15px" type="button" class="btn btn-default btn-circle" style="display: inline-block;">
                      <i class="glyphicon glyphicon-remove"></i>
                    </button>
                  </div>
                </div>
              </div>

              <div class="row" style="margin:10px;">
                <div class="col-sm-2" style="text-align: right;">
                  <div>
                    <label>
                      <strong>Last Name</strong>
                    </label>
                  </div>
                </div>
                <div class="col-sm-5">
                  <div class="inner-wrap">
                    <input ng-readonly="txtlastname" style="width:85%; display: inline-block;" class="form-control" placeholder="" type="text" ng-model="profile.lastname" ng-required="false" ng-value="currentUser.last_name"/>
                    <button ng-hide="editlast" ng-click="editlastname()" style="margin-left:15px" type="button" class="btn btn-default btn-circle" style="display: inline-block;">
                      <i class="fa fa-pencil"></i>
                    </button>
                    <button ng-show="editlast" ng-click="disablelastname()" style="margin-left:15px" type="button" class="btn btn-default btn-circle" style="display: inline-block;">
                      <i class="glyphicon glyphicon-remove"></i>
                    </button>
                  </div>
                </div>
              </div>

              <div class="row" style="margin:10px;">
                <div class="col-sm-2" style="text-align: right;">
                  <div>
                    <label>
                      <strong>Gender</strong>
                    </label>
                  </div>
                </div>
                <div class="col-sm-5">
                  <div class="inner-wrap">
                    <label><input id="femaleRb" ng-checked="female" type="radio" name="gender" value="female" ng-model="profile.gender" selected>
                      Female
                    </label>
                    <label><input type="radio" id="maleRb" ng-checked="male" name="gender" value="male" ng-model="profile.gender">
                      Male
                    </label>
                  </div>
                </div>
              </div>

              <div class="row" style="margin:10px;">
                <div class="col-sm-2" style="text-align: right;">
                  <div>
                    <label>
                      <strong>Birth Date</strong>
                    </label>
                  </div>
                </div>
                <div class="col-sm-5">
                  <p class="input-group  col-sm-12 col-md-7 col-lg-5">
                    <input
                      width="90%"
                      ng-readonly="true"
                      ng-value="birthdate | date: 'MMMM d, y':'UTC'"
                      readonly
                      type="text"
                      class="form-control"
                      uib-datepicker-popup="{{ format }}"
                      ng-model="profile.date_of_birth"
                      is-open="start_date_picker.opened"
                      datepicker-options="datepickerOptions"
                      ng-required="true"
                      close-text="Close"
                      placeholder="{{ currentUser.date_of_birth | date: 'MMMM d, y':'UTC' || today }}"
                      alt-input-formats="altFormat"/>
                    <span class="input-group-btn">
                      <button type="button" class="btn btn-default" ng-click="open_sd()">
                        <i class="fa fa-calendar-o"></i>
                      </button>
                    </span>
                  </p>
                </div>
              </div>

              <div class="row" style="margin:10px;">
                <div class="col-sm-2" style="text-align: right;">
                  <div>
                    <label>
                      <strong>Interests</strong>
                    </label>
                  </div>
                </div>
                <div class="col-sm-5">
                  <div class="inner-wrap p-sm" style="text-align: left;height:{{categories.length / 3 * 45}}px;max-height:auto;" ng-if="categories.length > 0">
                    <div ng-repeat="category in categories" style="height: 35px; margin:0" class="col-xs-4 checkbox">
                      <label for="{{category.id + '_' + category.name}}">
                        <input id="{{category.id + '_' + category.name}}" type="checkbox" checklist-model="profile.categories" checklist-value="category.id" ng-checked="profile.categories.indexOf(category.id) >=0"/>
                        {{category.name}}
                      </label>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row" style="margin:5px;">
                <div class="edit-button" ng-hide="edit" style="width:30%; margin-left:230px;">
                  <p class="col-xs-12 btn btn-success no-gutters" ng-click="update(profile)">
                    <i class="fa fa-floppy-o p-l-xs"></i>
                    <span>SAVE CHANGES</span>
                  </p>
                </div>
              </div>
            </div>
          </div>
          </uib-tab>
      </uib-tabset>
    </div>
  </div>
</div>
